<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book</title>
    <link
      href="{{ url_for('static',filename='styles/style.css') }}"
      rel="stylesheet"
    />
  </head>
  <body>
    <h1>Book</h1>
    <form action="/book">
      <input type="text" name="genre" id="genre" placeholder="Enter a genre you like" />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
